body
{
    margin: 0;
    padding: 0;
    height: 2000px;
}

.container{

    width: 1150px;
    margin: auto;
    
    
}

.header{

width: 100%;
height: 350px;
background-color:blueviolet;
}


.header .heading
{
width: 50%;
float: left;
border-right: 1px solid darkgray;
margin-top:50px;

}

.header .heading h2{

    width: 50%; 
    color: white;
    line-height: 2.5;
    font-size:25px;
    font-weight: bold;
   

}

.header .heading h2 a{

text-decoration: none;
color: #fff;
font-style: italic;

}

.header .heading h2 a:hover{
    color: #00bc8a;
    cursor: pointer; 
}


.header .loren{

width: 40%;
margin-left: 3%;
margin-top: 50px;
float : left;

}

.header .loren p{
font-family: tahoma;
color:darkgray ;
line-height: 1.8;
font-weight: bold;


}


.header .loren button{
margin-top: 25px;
border: 0;
background: none;
color: #ffffff;
font-size: 20px;
background: #00bc8a;
padding: 15px;
border-radius: 50px;
width:200px;
text-transform: uppercase; 
outline: 0;
cursor: pointer;
margin-top: 50px;

}

/*  the end of  first */


/* the dad started */

.dad{

width: 100%;
height: 350px;
border-bottom: 1px solid #777;
padding-top: 50px;

}


.dad .learn {

width: 50%;
float: left;
border-right:2px solid #ddd;

}
.dad .learn h2{

font-family: tahoma;
color: #777;


}

.dad .learn p{

    font-family:Tahoma;
    line-height: 1.5;
    color: #888;
    padding: 30px 30px 30px 0px;
}

.dad .learn button{

outline: none;
border:0;
background-color: #fff;
border: 2px solid #e4e4e4;
padding: 15px;
border-radius: 30px;
width:200px; 
color: #6f6f6f;
text-transform: uppercase;
cursor: pointer;
font-weight: bold;
font-size: 15px;
}



.dad .learn button:hover{
   
    background-color: #e5e5e5;


}

.Ipsum{

width: 40%;
float: left;
margin-left: 5%; 
visibility: hidden;

}

.Ipsum p{

    line-height: 2;
    font-family: Tahoma;
    font-weight: bold;
    color: #666;
    

}


.Ipsum i{

    padding-right: 25px;
    color: #00bc89;

}

/* the end of  dad */

/* START OF THE THERD PART */



.pharetra{
    width: 100%;
    height: auto;
    padding-top:  50px;
    padding-bottom: 0px;
    overflow: hidden;
    background-color: #f2f2f2; 
}


.pharetra .patr img{

float: left;


}

.pharetra .patr{

    padding-bottom: 50px;
    height: 310px;
    margin-bottom: 30px;
    border-bottom: 2px solid #cccccc;
}


.pharetra .patr .he{

    float: left;
  width: 40%;
    padding-left:70px;  
    padding-top: 50px; 
}
    
.pharetra .patr .he h2{

    color: #777;
    text-decoration: underline;
    font-family: tahoma;
}


.pharetra .patr .he p{

    color: #888;
    font-family: tahoma;
    font-weight: bold;
    line-height: 2; 
    
     

}


.pharetra .patr .he button{

border: 1px solid #ddd;
width:150px;
border-radius: 50px;
font-size: 15px;
padding: 15px;
font-weight: bold;
color: #6f6f6f;
cursor: pointer;
background-color:#fff;

}

.pharetra .patr .he button:hover{

    background: #e5e5e5;
    /* color:#000; */
     
}
 


.clear{

    clear: both;
}


.pharetra{
    background-color: #fafafa;
}

.patr{

    background-color:#fff ;

}


.bt{

width:100%;
height: 100px;

}

.bt button{


margin-left: 36%;
width:300px;
height: 50px;
background-color: #fff;
color:#666;
border: 1px solid #e5e5e5;
border-radius: 50px;
cursor: pointer;
outline: none;
font-size: 15px;
font-weight: 500;

}


.bt button:hover{

background-color:  rgba(144, 144, 144, 0.25)

}

/* end OF THE THERD PART */


form{
    width: 100%;
    height:450px;
    overflow: hidden; 

}

.form  .inputs {

  width: 50%;
  float: left;
  border-right: 2px solid #ddd;
     margin-top: 70px;
    height:450px;
}


.form  .links{

    width: 40%;
    float: left;

}

.form  .inputs h2{
    font-family: tahoma;

}

.form  .inputs p{

    font-family: tahoma;
    line-height: 2;
    font-weight: 500;
    color:#888; 

}

.form  .inputs input[type=text] {

    width: 225px;
    height: 20px;
    padding:10px 0px 10px 15px;
    font-size: 15px; 
    border: 1px solid #f2f2f2;
    margin-bottom:  20px;
    color: #d4d4d4;
}



.form  .inputs input[type=email] {
 
    color: #d4d4d4;
    width: 225px;
    height: 20px;
    padding:10px 0px 10px 15px;
    font-size: 15px; 
    border: 1px solid #f2f2f2;
   
   
}




.form  .inputs  textarea{
    color: #d4d4d4;
    width: 465px;
    outline: 0;
    padding-left: 20px;
    font-size: 20px;
    border: 1px solid #f2f2f2;


}

.form  .inputs input[type=submit]{

width: 200px;
height: 50px;
border: 2px solid #e3e3e3;
background-color: #fff;
border-radius: 50px;
cursor: pointer;
margin-top:25px;
    
}



.form  .inputs input[type=submit]:hover{
   
    background-color: #e5e5e5;


}



.links{

    padding-top: 70PX;


}


.links i{

padding:0px 10px 15px 40px ;

}

.links .fa{


color:#00bc89;
font-weight: bold

}


.links  p{

color: #888;
cursor: pointer;
font-family: tahoma;
font-size: 15px;



}

#fa1:hover{


color:#55acee;

}

#fa2:hover{


    color:#0968b9;
}

#fa3:hover{


 color: brown;
        
}



#fa5:hover{


 color: red;
            
}

            
#fa4:hover{


  color: #000;
                
}

.clear{

    clear: both;
}

/* end OF THE ford PART */


/* start of thr footer  */


.foot{

    width:100%;
    height: 100px;
    border-top: 1px solid #cccccc;
    text-align: center;
    margin-top: 70px;
    background-color: #fafafa;
    line-height: 100px;
    color: #777
}


















                
